body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    background-color: #333;
    color: white;
    padding: 1em;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 15px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  header {
    background-color: #f4f4f4;
    padding: 0.5em;
    text-align: center;
    background-color: yellow;
  }
  main {
    padding: 2em;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
  }







  .slider {
    position: relative;
    height: 60%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ccc;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .slide img {
    width: 100%;
    display: block;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }